@charset "utf-8";

/* Add your CSS styles here */
        body {
            font-family: Arial, sans-serif;
            background-color: lightyellow; /* Change the background color */
            color: blueviolet;
            margin: 0;
            padding: 0;
        }


        /*
        h1 {
            color: firebrick;
            text-align: center;
            background-color: blueviolet;
        }
        */

        .title {
        	color: firebrick;
            text-align: center;
            background-color: lightgoldenrodyellow;
        }

        .nav {
            list-style:none inside;
			margin:0;
			padding:0;
			text-align:center;
			width: 100%
			top: 1em; /* Set the top position in em units */
		    left: 2em; /* Set the left position in em units */
		}

        .nav li {
			display:block;
			position:relative;
			float:left;
			background: indianred; /* menu background color */
		}

		.nav li a {
			display:block;
			padding:0;
			text-decoration:none;
			width:350px; /* this is the width of the menu items */
			line-height:35px; /* this is the hieght of the menu items */
			color:darkred; /* list item font color */
		}

		.nav li li a {font-size:80%;} /* smaller font size for sub menu items */
		.nav li:hover {background:lightpink;} /* highlights current hovered list item and the parent list items when hovering over sub menues */
		.nav ul {
			position:absolute;
			padding:0;
			left:0;
			display:none; /* hides sublists */
		}


		.nav li:hover ul ul {display:none;} /* hides sub-sublists */
		.nav li:hover ul {display:block;} /* shows sublist on hover */
		.nav li li:hover ul {
			display:block; /* shows sub-sublist on hover */
			margin-left:200px; /* this should be the same width as the parent list item */
			margin-top:-35px; /* aligns top of sub menu with top of list item */
		}

		.clear_float {
			clear: both;
		}

		@media all {
	    /* Add styles for all devices here */
		}

		/* Media Query for Print */
		@media print {
    	/* Add styles for print media here */
    	body {
        	background-color: white; /* Set a white background for printing */
    	}

    	.nav {
        display: none; /* Hide the navigation for printing */
    	}
		}

        

   










